.share-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.share-button:hover {
  background-color: #777;
}

.share-button .icon {
  margin-left: 5px;
}
