table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  color: #fff;
}

tr {
  background-color: #333;
}

th {
  background-color: #222;
}

tr:nth-child(even) {
  background-color: #444;
}

tr:hover {
  background-color: #555;
}

button {
  padding: 5px 10px;
  background-color: #777;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #999;
}
