.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #333;
  padding: 8px;
  border-radius: 20px;

  justify-content: space-around;
  flex-wrap: wrap;
}

.filter-input {
  padding: 10px;
  flex-grow: 1;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 20px;
  margin: 10px;
}

.filter-button {
  padding: 10px 10px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 20px;
}

.filter-button:hover {
  background-color: #999;
}

.filter-dropdown {
  padding: 5px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .filter-container {
    flex-direction: column;
    align-items: stretch;
  }

  .filter-select {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .filter-input {
    margin: 10px 0;
  }

  .filter-dropdown {
    width: 100%;
    margin: 10px;
  }

  .filter-button {
    margin: 10px 0;
  }
}
