.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #333;
  padding: 8px;
  border-radius: 20px;

  justify-content: space-around;
  flex-wrap: wrap;
}

.filter-input {
  padding: 8px;
  flex-grow: 1;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 20px;
  margin: 10px;
}

.filter-button {
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 20px;
}

.filter-button:hover {
  background-color: #999;
}

.filter-dropdown {
  padding: 8px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}
