table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  color: #fff;
}

tr {
  background-color: #333;
}

th {
  background-color: #222;
}

tr:nth-child(even) {
  background-color: #444;
}

tr:hover {
  background-color: #555;
}

.detail-button {
  padding: 5px 10px;
  background-color: #945929;
  color: #fff;
  border: none;
  cursor: pointer;
}

.detail-button:hover {
  background-color: #999;
}

.checked {
  color: orange;
  margin-right: 4px;
}

.listTable {
  margin: 20px;
}

.page-text {
  color: #fff;
}

@media (max-width: 768px) {
  table {
    font-size: 14px;
  }

  .listTable {
    margin: 10px;
  }
}
