.bottom-bar {
  bottom: 0;
  right: 0;
  background-color: #111;
  color: #fff;
  padding: 8px;
  text-align: right;
  opacity: 0.8;
  font-size: 10px;
}

.bottom-bar a {
  color: #fff;
}

.bottom-bar a:hover {
  text-decoration: underline;
}
