.maps-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.maps-button:hover {
  background-color: #777;
}

.maps-button .icon {
  margin-left: 5px;
}

.g-maps {
  height: 30vw;
  width: 80vw;
}

.maps-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 768px) {
  .g-maps {
    height: 70vw;
  }
}
